:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --main-font-color: #393e46;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper {
  color: var(--main-font-color);
  margin: 0px 20px 20px 20px;
  padding: 20px;
}

header {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3.125rem;
  opacity: 0.4;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
}

h3 {
  font-size: 3.4375rem;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 20px;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.index-project-button {
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  padding: 20px 15px;
  border-radius: 4px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  margin: 15px;
  font-size: 15px;
}

.h1-about {
  font-size: 5rem;
}
.h3-about {
  font-size: 3.125rem;
  color: var(--main-font-color);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.about-paragraphs p {
  margin: 10px;
}

.footer-contact {
  text-align: center;
  font-size: 50px;
  color: var(--main-font-color);
}

.footer-email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.footer-email:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .body,
  html {
    font-size: 12px;
  }

  .container {
    text-align: center;
  }
}
